<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>{{page.title}} - Empty Index</title>
<link href="{{site.baseurl}}/css/general.css" rel="stylesheet">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">
</head>

<body>
<nav>
  <a href="{{site.baseurl}}/index.html">Home</a>
  <a href="{{site.baseurl}}/about.html">About</a>
  <a href="{{site.baseurl}}/dinos.html">Dinos</a>
</nav>


{{ content }}

<footer>© Svetlana</footer>
</body>
</html>
